/* estilo geral */
*{ /*esse seletor aplica em todos os elementos*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;/**/
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}

body{
    background-color: wheat;
    height: 100vh;/*toma todo o espaço da tela*/
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* estilo do cabeçalho */

.header{
    padding: 40px 4%;  /* 40px em cima e em baixo, 4% na esquerda e direita */
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}/*procura os elementos que tem a classe interface dentro da tag header */

header a{ /*chama todos os links que tem no header*/
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
}

header a:hover{/*quando passar o mouse em cima*/
    color: #ffff;
    transform: scale(1.1);
    transition: 0.2s;
}

header nav ul{ /*chama todas as listas ul que tem na tag de menu no header*/
    list-style-type: none;
}

header nav ul li{ /*chama os itens das listas ul*/
    display: inline-block;
    padding: 0 40px;/*0 em cima/baixo, 40px esq/dir*/
}

header .btn-contato button{/*mesma lógica, mexe no botão que tá dentro da div classe btn-contato dentro do header*/
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    background-color: rgb(238, 99, 145);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

header .btn-contato button:hover{
    box-shadow: 0px 0px 8px rgb(238, 99, 145);
    color: white;
}

main .btn-contato button{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    background-color: rgb(238, 99, 145);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

main .btn-contato button:hover{
    box-shadow: 0px 0px 8px rgb(238, 99, 145);
    transform: scale(1.1);
    transition: 0.2s;
    color: white;
}

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.topo-do-site h1{
    color: #ffff;
    font-size: 38px;
}